<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.SharePointPnP.PowerShell.Commands.Configuration) = Release OR $(var.SharePointPnP.PowerShell.Commands.Configuration) = Debug ?>
<?define AssemblyVersion = "16.1.0.0" ?>
<?define ProductName = "SharePoint PnP PowerShell Commands" ?>
<?define ProductAssemblyName = "SharePointPnP.PowerShell.Online.Commands" ?>
<?elseif $(var.SharePointPnP.PowerShell.Commands.Configuration) = Release16 OR $(var.SharePointPnP.PowerShell.Commands.Configuration) = Debug16 ?>
<?define AssemblyVersion = "16.0.0.0" ?>
<?define ProductName = "SharePoint PnP PowerShell Commands for SP2016" ?>
<?define ProductAssemblyName = "SharePointPnP.PowerShell.SP2016.Commands" ?>
<?else ?>
<?define AssemblyVersion = "15.0.0.0" ?>
<?define ProductName = "sharePoint PnP PowerShell Commands for SP2013" ?>
<?define ProductAssemblyName = "SharePointPnP.PowerShell.SP2013.Commands" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="2.5.1606.0"
           Manufacturer="SharePoint PnP"
           UpgradeCode="630fe2af-dc42-467d-94c8-6eefd065cbfa">

    <Package InstallerVersion="200"
             Compressed="yes"  />
    <!--<Property Id="MSIUSEREALADMINDETECTION" Value="1" />-->

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate  EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="SharePoint PnP PowerShell Commands" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ENVIRONMENTVARS" />
      <ComponentGroupRef Id="RegistryKeys"/>
    </Feature>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Property Id="POWERSHELLCOMPATIBLE">
      <RegistrySearch Id="PSCompatible"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine"
                      Name="PSCompatibleVersion"
                      Type="raw" />
    </Property>

    <Condition Message="PowerShell 3.0 is required. Please install PowerShell 3.0 then run this installer again.">
      <![CDATA[Installed OR (POWERSHELLCOMPATIBLE >< "3.0")]]>
    </Condition>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductAssemblyName)" >
        <Directory Id="Modules2" Name="Modules">
          <Directory Id="MODULEFOLDER" Name="$(var.ProductAssemblyName)"></Directory>
        </Directory>
      </Directory>
    </Directory>

    <WixVariable Id="WixUILicenseRtf" Value="MITLicense.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="officedevpnp.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="setupbanner.png"/>

    <Property Id="ApplicationFolderName" Value="$(var.ProductAssemblyName)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <UIRef Id="WixUI_Advanced" />

  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="MODULEFOLDER">
      <Component Id="PowerShellCommands" Guid="{1F5CA574-E185-49D2-9A91-CD46A8548D3E}">
        <File Id="Commands" Source="$(var.SharePointPnP.PowerShell.Commands.TargetPath)" />
        <File Id="CommandsHelp" Source="$(var.SharePointPnP.PowerShell.Commands.TargetPath)-help.xml"/>
        <File Id="Core" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\OfficePnP.Core.dll"/>
        <File Id="CmdletHelpAttributes" Source="$(var.SharePointPnP.PowerShell.CmdletHelpAttributes.TargetPath)"/>
        <File Id="FormatFile" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\ModuleFiles\$(var.ProductAssemblyName).Format.ps1xml" />
        <File Id="PSD1File" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\ModuleFiles\$(var.ProductAssemblyName).psd1" />
        <File Id="ClientSDK.Client" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.dll" />
        <File Id="ClientSDK.Client.Runtime" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.Runtime.dll" />
        <File Id="ClientSDK.Client.Taxonomy" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.Taxonomy.dll" />
        <File Id="ClientSDK.Client.UserProfiles" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.UserProfiles.dll" />
        <File Id="ClientSDK.Client.WorkflowServices" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.WorkflowServices.dll" />
        <File Id="ClientSDK.Client.DocumentManagement" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.DocumentManagement.dll" />
        <File Id="ClientSDK.Client.Publishing" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.Publishing.dll" />
        <File Id="ClientSDK.Client.Search" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.Search.dll" />
        <File Id="ClientSDK.Client.Search.Applications" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.SharePoint.Client.Search.Applications.dll" />
        <File Id="OnlineSDK.Client.Tenant" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.Online.SharePoint.Client.Tenant.dll" />
        <File Id="OfficeSDK.Client.Policy" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.Office.Client.Policy.dll" />
        <File Id="OfficeSDK.Client.TranslationServices" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.Office.Client.TranslationServices.dll" />
        <File Id="IdentityModel.Clients.ActiveDirectory" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" />
        <File Id="IdentityModel.Clients.ActiveDirectory.WindowsForms" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll" />
        <File Id="NewtonSoft" Source="$(var.SharePointPnP.PowerShell.Commands.ProjectDir)bin\$(var.SharePointPnP.PowerShell.Commands.Configuration)\Newtonsoft.Json.Dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ENVIRONMENTVARS" Directory="TARGETDIR">
      <Component Id="EnvironmentVarPerMachine" Guid="{4D971CA5-CFE1-4121-B265-7C56B75D12A1}">
        <Condition>ALLUSERS=1  OR (ALLUSERS=2 AND Privileged)</Condition>
        <Environment Id="PSMODULEPATHPERMACHINE" Name="PSMODULEPATH" Value="[APPLICATIONFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
      <Component Id="EnvironmentVarPerUser" Guid="{CAE7B727-018A-4F37-9D62-C70363B9A9D1}">
        <Condition>ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged))</Condition>
        <Environment Id="PSMODULEPATHPERUSER" Name="PSMODULEPATH" Value="[LocalAppDataFolder]Apps\[ApplicationFolderName]" Permanent="no" Part="last" Action="set" System="no" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="RegistryKeys" Directory="TARGETDIR">
      <Component Id="IconRegistryKeys" Guid="{E206561F-2259-43B9-908D-86E3C70801B0}">
        <RegistryKey Root="HKCR"
                     Key=".pnp"
              Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="PnP.ProvisioningTemplate.Package" />
          <RegistryValue Type="string" Name="Content Type" Value="package/pnp" KeyPath="yes"/>
          <RegistryValue Type="string" Name="PerceivedType" Value="compressed"/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="PnP.ProvisioningTemplate.Package" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="PNP Provisioning Template Package" />
          <RegistryValue Type="string" Name="FriendlyTypeName" Value="PNP Provisioning Template Package" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="PnP.ProvisioningTemplate.Package\CLSID" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="{02C26B7A-482D-4E1B-93A7-9FD9F965698F}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="PnP.ProvisioningTemplate.Package\DefaultIcon" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[APPLICATIONFOLDER]$(var.ProductAssemblyName).dll" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
